@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/img-ana.jpeg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    ;
    border-radius: 10px;
    color: rgb(10, 11, 12);
    padding: 30px 40px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    backdrop-filter: blur(10px);
}


.container h1 {
     font-size: 36px;
     text-align: center;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;


}


.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid  rgba(255, 255, 255, .2);;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px

}


.input-box input::placeholder{
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 25%;
    font-size:  20px; 
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px o 15px;
}

.remember-forgot label input{ 
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}
 
.remember-forgot a:hover {
    text-decoration: underline;
}
.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px ;
    margin-top: 20px;
}

.login:hover {
    background-color:  transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;

}

.registre-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

}
.registre-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.registre-link a:hover {
    text-decoration: underline;

}
